.carta {
    width: 300px;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
}

.portada {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

.contenido {
    padding: 20px;
}

#boton-volver {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#boton-volver:hover {
    background-color: #3e8e41;
}

.corazones {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.corazones img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.carta.abierta {
    transform: rotateY(180deg);
}